/* -- VERSION 10/12/2021 - 12:26PM UTM-3 -- */

@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@500;600;700&family=Varela&display=swap");

/* font-family: 'Palanquin', sans-serif;
font-family: 'Varela', sans-serif; */

:root {
  --eerie-black: #212121;
  --davys-grey: #575757;
  --battleship-grey: #898989;
  --light-grey: #cccccc;
  --cultured: #f9f9f9;
  --prussian-blue: #1e3048;
  --international-orange-aerospace: #fe5d26;
  --persian-green: #2a9d8f;
}

body {
  background-color: var(--cultured);
  color: var(--eerie-black);
  font-family: "Varela", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#Provisory {
  text-align: right;
  padding-right: 20px;
  margin-bottom: -15px;
}

#Provisory h1,
#Provisory h2 {
  text-align: right !important;
  background-color: inherit;
}

#Provisory a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  color: var(--persian-green);
}

#Cobro {
  padding: 10px;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  grid-template-rows: 1fr 1fr 6fr 1fr 2fr;
  grid-template-areas:
    "Operacion Operacion Fiscal"
    "Tarifa Tarifa Fiscal"
    "Medio TicketInfo Pago"
    "Medio TicketInfo Pago"
    "Extras Extras Extras";
  grid-gap: 2rem;
}

#Operacion {
  grid-area: Operacion;
  background-color: var(--cultured);
  border: none;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

#Tarifa {
  grid-area: Tarifa;
  padding-top: 5%;
  border: none;
}

#Medio {
  grid-area: Medio;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 5px;
}

#TicketInfo {
  grid-area: TicketInfo;
}

#TicketInfo > div:first-child {
  width: 40%;
  height: 100%;
}

#TicketInfo > div:first-child input,
#TicketInfo > div:nth-child(2) {
  width: 90%;
  padding: 10px;
}

#TicketInfo > div:nth-child(2) {
  width: 45%;
  height: 100%;
}

#TicketInfo label {
  color: var(--eerie-black);
}

#Fiscal {
  grid-area: Fiscal;
}

#Extras button {
  min-width: 150px;
}

/* #Extras button::before {
  display: inline-block;
  content: " ";
  background-repeat: no-repeat;
  background-size: 25px 35px;
  height: 25px;
  width: 25px;
  margin-right: 12px;
}

#Extras button:nth-child(1)::before {
  background-image: url("../images/UI/normal-auto.svg");
}

#Extras button:nth-child(2)::before {
  background-image: url("../images/UI/camioneta.svg");
}

#Extras button:nth-child(3)::before {
  background-image: url("../images/UI/motocicleta.svg");
}

#Extras button:nth-child(4)::before {
  background-image: url("../images/UI/bicicleta.svg");
} */

#Cobro label {
  text-align: left;
  display: block;
  margin: 5px 5px 0px 2px;
}

#Cobro input[type="radio"] + label {
  display: inline-block;
  font-weight: 600;
  color: var(--cultured);
  background-color: var(--battleship-grey);
}

#Cobro input,
#PopUps input,
#PopUps select {
  display: block;
  border: 2px solid var(--eerie-black);
  border-radius: 5px;
  font-size: 16px;
  background-color: var(--cultured);
  padding: 5px 10px;
}

#Cobro input[type="radio"] {
  display: inline-block;
  width: 15px;
  margin-top: 35px;
}

#Cobro fieldset {
  vertical-align: top;
  padding: 5px 10px 1px 10px;
  border: none;
}

#Cobro .RadioAsButtons input[type="radio"] {
  display: none;
}

#Cobro .RadioAsButtons label,
#Extras button {
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  padding: 5px 5px;
  cursor: pointer;
  border: none;
  margin: 5px;
  font-weight: 600;
  color: var(--cultured);
  background-color: var(--battleship-grey);
  transition: 0.5s;
}

#Cobro .RadioAsButtons label:hover,
#Extras button:hover {
  background-color: var(--international-orange-aerospace);
  color: var(--cultured);
}

#Cobro .RadioAsButtons input[type="radio"]:checked + label {
  color: var(--cultured);
  background-color: var(--international-orange-aerospace);
  font-weight: 600;
}

#Cobro .RadioAsButtons input[type="radio"]:disabled + label,
#Extras button:disabled {
  border: 2px solid var(--light-grey);
  color: var(--light-grey);
  background-color: var(--cultured);
  font-weight: 600;
  cursor: not-allowed;
}

#TicketInfo div {
  vertical-align: top;
  display: inline-block;
  margin: 10px;
}

#TicketInfo input[type="number"] {
  font-size: xx-large;
}

#Ticket {
  font-size: x-large;
  width: 150px;
}

#Permanencia {
  font-size: x-large;
  width: 160px;
}

#Importe {
  width: 150px;
}

#Cliente {
  width: 100%;
  padding: 12px 20px 12px 40px !important;
  background-image: url("../images/UI/search-icon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
}

input:disabled,
textarea:disabled {
  cursor: not-allowed;
  border: none !important;
  background-color: var(--light-grey) !important;
  color: var(--eerie-black);
}

#APagar {
  width: 100%;
  font-size: 6rem !important;
  margin-top: 25px;
  padding: 0 !important;
  border: none !important;
  border-radius: 20px !important;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

#Fiscal input[type="radio"] + label {
  display: inline-block;
  font-weight: 600;
  color: var(--battleship-grey);
  background-color: var(--cultured);
}

#Operacion,
#Tarifa {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#Extras {
  margin-top: 15px;
  border-top: 3px solid var(--light-grey) !important;
  padding-top: 15px !important;
  grid-area: Extras;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#Pago {
  grid-area: Pago;
  margin-left: -10px;
  padding-left: 20px !important;
  border-left: 3px solid var(--light-grey) !important;
  height: 97%;
}

#Cobro .RadioAsButtons input[type="radio"] + label {
  flex: 1;
  margin: 5px;
}

#Varios {
  margin: auto;
  padding: 40px;
  position: fixed;
  width: 50vw;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  border-radius: 20px;
  border: none;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  color: var(--light-grey);
  background-color: var(--cultured);
}

#Varios button {
  display: block;
  margin: 10px auto;
  padding: 15px 25px;
  font-weight: 600;
  font-size: 1.2rem;
  border: none;
  border-radius: 20px;
  color: var(--cultured);
  background-color: var(--battleship-grey);
  font-weight: 600;
  transition: 0.5s;
}

#Varios button:hover {
  background-color: var(--international-orange-aerospace);
}

#PopUps {
  margin: auto;
  position: fixed;
  width: 50vw;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: var(--cultured);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  text-align: left;
  z-index: 1100;
}

#PopUps fieldset {
  border: none;
  margin: 0;
  padding: 5px 0px 5px 15px;
}

#PopUps label {
  text-align: left;
  display: block;
  margin-top: 10px;
}

#PopUps input {
  font-size: large;
  display: block;
  margin-bottom: 20px;
}

#PopUps input[type="radio"] + label {
  display: inline-block;
}

#PopUps input[type="radio"] {
  display: inline-block;
  width: 15px;
}

#BarreraObs {
  width: 87% !important;
}

#PopUpClose {
  float: right;
  font-weight: 600;
  font-size: x-large;
  color: var(--international-orange-aerospace);
  background-color: var(--cultured);
  border: none;
}

#PopUpClose:active {
  box-shadow: none;
}

#PopUpConfirm {
  margin-bottom: 5px;
  float: right;
  padding: 15px 25px;
  border: none;
  border-radius: 20px;
  color: var(--cultured);
  background-color: var(--international-orange-aerospace);
  font-weight: 600;
  transition: 0.5s;
}

#PopUpConfirm:hover {
  background-color: var(--cultured);
  border: 2px solid var(--international-orange-aerospace);
  color: var(--international-orange-aerospace);
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {
  #Cobro {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 6fr 2fr 1fr 2fr;
    grid-template-areas:
      "Operacion Operacion"
      "Tarifa Tarifa"
      "Medio TicketInfo"
      "Fiscal Fiscal"
      "Pago Pago"
      "Extras Extras";
    grid-gap: 1rem;
  }
  #Pago {
    margin-left: 0 !important;
    padding: 7px !important;
    border-left: none !important;
  }
  #PopUps {
    width: 70vw;
  }
}

@media (max-width: 824px) {
  #Cobro {
    display: block !important;
  }
  body {
    font-size: 1rem;
    line-height: 1.5;
  }
  #Cobro .RadioAsButtons label,
  #Extras button {
    text-align: center;
    height: 100%;
  }
  #Pago {
    grid-area: Pago;
    height: 30%;
  }
}

@media (max-width: 481px) {
  #PopUps {
    width: 100%;
    height: 100%;
    padding-top: 70px;
  }
}